#test_form {
    margin: 100px auto 0 auto;
    width: 280px;
    height: auto;
    padding: 150px;
    background: gray;
    border-radius: 50px;
    opacity: 1;
;
}

#body_form {
    background-color: white;

}

#fieldset_style {
    border: white hidden;
    width: 50px;


}

.input_form {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px 0 auto 20px;
}
#Name{
    margin: 20px 0 20px 0;
}

#email{
    margin: 20px 0 20px 0;
    padding: 0 0px 0 0;
}
#RandomText {
    padding: 0 50px 0 0;
    margin: 10px 0 10px 0;
}

#ReverseText{
    padding: 0 50px 0 0;
    margin: 10px 0 10px 0;
}

#age{
    padding: 0 120px 0 0;
    margin: 10px 0 10px 0;
}

#email{
    padding: 0 20px 0 0;
}