/*Specification*/
/*Screen one*/
body {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.header {
    background: url("../Images/homebackground.jpg") no-repeat fixed center center;
    background-size:cover;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    color: #fc9403;
    font-size: 25px;
}

.header_screen{
    padding: 20px 0 500px 0;
    color: #fc9403;
}

#header_screen_title{
    padding: 100px 0 50px 0;
}


#header_screan_text{

    padding-top: 100px;
}
.navbar-nav {
    justify-content: space-between;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='255 255 255 255' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.titles{
    padding: 50px 0 50px 0;
    text-transform: uppercase;
    text-align: center;

    font-weight: 700;
}
.titles__style{
    font-size: 250px;
    font-weight: 400;
    text-align: center;
    color: #fc9403;
}



.titles__text {
    font-size: 30px;
    color: #b6cbc1;
    border: black;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(82, 83, 76, 0.8);
    padding: 10px;
}

/*Screen two*/

.about_atelie{
    background: linear-gradient(to bottom,#fc9403,#583d81) fixed center center;
    margin: 0 auto;
}
.titles__about{
    font-size: 30px;
    color: black;
    text-align: center;
    padding: 15px 0 40px 0;
}
.button_about {
    padding-top: 100px;
}


/*Screen  carousel_wroks3*/
.portfoli {
    background: linear-gradient(to bottom,#fc9403,#583d81) fixed center center;
}
.carousel {
    margin:auto;
    padding-bottom: 40px;
}
.carousel-caption-title {
    color: #1b1e21;
}
.carousel-caption-text {
    color: black;
    font-weight: 700;
}

/*Screen 4*/

.services {
    background: linear-gradient(to bottom,#fc9403,#583d81) fixed center center;
}

/*Screen5 contact*/

.contacts{
    background: linear-gradient(to bottom,#fc9403,#583d81)fixed center center;
}
.footer_social_icons{
    padding-right: 0;
}
.row{
    padding: 0;
    margin: 0;
}
/*footer*/

.footer{
    background:black;
    color:white;
    font-size:16px;
    padding-top: 20px;
    text-align: center;
}

.conteiner-fluid {
    border-bottom: 10px solid black;
}