/*Specification*/

/*Screen one*/
body {
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    background: url("../Images/homebackground.jpg") no-repeat fixed center center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 150px;
    opacity: 1;
}

.logo {
    width: 200px;
    height: 200px;
    opacity: 1;

}
ul,li{
    display: block;
    padding: 5px;
    margin: 0;
}

.menu__item{
    margin: 70px 1px 0 0;
    box-sizing: border-box;
    display: block;
}

.menu__item a {
    border: solid white 1px;
    font-size: 20px;
    border-radius: 5px;
    background: #fc9403;
    padding: 10px 20px 10px 10px;
    opacity: 0.8;
    text-decoration: none;
    color: white;
}
nav {
    text-decoration: none;
}

.titles{
    padding-top: 50px;
    text-transform: uppercase;
    text-align: center;

    font-weight: 700;
}
.titles__style{
    font-size: 250px;
    font-weight: 400;
    text-align: center;
    color: #fc9403;
}



.titles__text {
    font-size: 30px;
    color: #b6cbc1;
    border:  black;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(82,83,76,0.8);
    padding: 10px;
}

.button-home {
    padding-top: 200px;
}
.btn-light{
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
    background: black;
    opacity: 0.8;

}
.btn-light a {
    font-weight: 400;
    text-align: center;
    color: #fc9403;
}

/*Screen two*/

.about_atelie{
    background: linear-gradient(to bottom,#fc9403,#583d81) fixed center center;
    padding: 0 50px 150px 0;
}
.titles__about{
    font-size: 30px;
    color: black;
    text-align: center;
    padding: 15px 0 40px 0;
}

.atelierrom {
    width: 715px;
    margin-left: 75px;
}
.button_about {
    padding-top: 100px;
}


/*Screen 3*/
.portfoli {
    background: linear-gradient(to bottom,#fc9403,#583d81) fixed center center;
}
.carousel {
    margin:auto;
}
.carousel-caption-title {
    color: #1b1e21;
}
.carousel-caption-text {
    color: black;
    font-weight: 700;
}

/*Screen 4*/

.services {
    background: linear-gradient(to bottom,#fc9403,#583d81) fixed center center;
}
